<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | MTS Question Generator</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        ul {
            padding-inline-start: 20px;
        }

        table {
            border-collapse: collapse;
            width: 85%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 5px;
        }

        td:nth-child(1) {
            width: 3%;
        }

        td:nth-child(2) {
            width: 70%;
        }

        td:nth-child(3) {
            width: 27%;
        }
    </style>
  </head>
  <body>
    <nav>
      <header>
        <ul id="nav">
            {% for item in site.navigation %}
                {% if page.url == item.url %}
                    {% assign class = 'active' %}
                {% else %}
                    {% assign class = 'inactive' %}
                {% endif %}
                <li class="navlink"><a class="{{ class }}" href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
      </header>
    </nav>
    <section>
      <div id="main">
        {% if page.filters %}
            Filter:
            <select id="filter">
                <option value="">N/A</option>
                {% for item in page.filters %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <br>
        {% endif %}

        <button id="showAllBtn" class="showBtn" onclick="showAnswers()">
            Show Answers
        </button>
        <button id="resetBtn" class="resetBtn" onclick="reset()" style="margin-left: 15px">
            Reset
        </button>
        <br>
        <br>

        <table>
            <tr>
                <th></th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            <tr>
                <td>1</td>
                <td><p id="question1"></p></td>
                <td>
                    <button id="showBtn1" class="showBtn" onclick="showAnswer(1)">
                        Show Answer
                    </button>
                    <p id="answer1"></p>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td><p id="question2"></p></td>
                <td>
                    <button id="showBtn2" class="showBtn" onclick="showAnswer(2)">
                        Show Answer
                    </button>
                    <p id="answer2"></p>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td><p id="question3"></p></td>
                <td>
                    <button id="showBtn3" class="showBtn" onclick="showAnswer(3)">
                        Show Answer
                    </button>
                    <p id="answer3"></p>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td><p id="question4"></p></td>
                <td>
                    <button id="showBtn4" class="showBtn" onclick="showAnswer(4)">
                        Show Answer
                    </button>
                    <p id="answer4"></p>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td><p id="question5"></p></td>
                <td>
                    <button id="showBtn5" class="showBtn" onclick="showAnswer(5)">
                        Show Answer
                    </button>
                    <p id="answer5"></p>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>

    {{ content }}
    <script type="text/javascript" charset="utf-8">
        document.getElementById("question1").innerHTML = questions[0];
        document.getElementById("question2").innerHTML = questions[1];
        document.getElementById("question3").innerHTML = questions[2];
        document.getElementById("question4").innerHTML = questions[3];
        document.getElementById("question5").innerHTML = questions[4];
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('filter').onchange = function () {
                filterVal = this.value;
                reset();
            }
        });
    </script>
    </section>
  </body>
</html>
